openapi: 3.0.0
info:
  title: {{ title }}
  description: {{ description }}
  version: "{{ version }}"
{%- if components %}
components:
{{ components|yaml_pretty }}
{%- endif %}
paths:
{{ paths|yaml_pretty }}
